# Project exclude paths
/.gradle/
/Problems/Boys in a sport class/out/
/Problems/Boys in a sport class/out/production/classes/
/Problems/Queens/out/
/Problems/Queens/out/production/classes/
/Problems/Snail/out/
/Problems/Snail/out/production/classes/
/Problems/Symmetrical number/out/
/Problems/Symmetrical number/out/production/classes/
/Problems/The roots of an equation/out/
/Problems/The roots of an equation/out/production/classes/